body {
  background-color: #f3f3f3;
}

.imgType {
  margin: 150px 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* imgType01 */
.imgType01 {
  font-family: 'GmarketSans';
  font-size: 14px;
  font-weight: 500;
  padding: 100px 0;
}

.imgType01 h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 45px;
}

.imgType01 .img-wrap {
  display: flex;
  gap: 20px;
}

.imgType01 .img-wrap .img {
  position: relative;
  width: 590px;
  height: 385px;
}

.imgType01 .img-wrap .img img {}

.imgType01 .img-wrap .img .img-list {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  margin: 30px;
  border-radius: 5px;
}

.imgType01 .img-wrap .img .img-list .img-tit {
  font-size: 30px;
  margin-bottom: 8px;
}

.imgType01 .img-wrap .img .img-list .img-desc {
  line-height: 1.4;
  margin-bottom: 15px;
}

.imgType01 .img-wrap .img .img-list .img-link {
  text-decoration: underline;
}


/* imgType02 */
.imgType02 {
  font-family: 'GmarketSans';
  font-size: 14px;
  font-weight: 500;
  padding: 100px 0;
}

.imgType02 h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 45px;
}

.imgType02 .img-wrap {
  display: flex;
  gap: 20px;
}

.imgType02 .img-wrap .img {
  width: 387px;
  height: 387px;
  position: relative;
}

.imgType02 .img-wrap .img img {}

.imgType02 .img-wrap .img .img-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.imgType02 .img-wrap .img .img-tit {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
  padding: 3px 15px 0 15px;
  font-weight: 500;
  display: block;
  line-height: 1.4;
  margin-bottom: 10px;
}


.imgType02 .img-wrap .img .img-link {
  display: none;
}

.imgType02 .img-wrap .img:hover .img-list .img-link {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px 15px 3px 15px;
  border-radius: 10px;
}

/* imgType03 */
.imgType03 {
  font-family: 'GmarketSans';
  font-size: 14px;
  font-weight: 500;
  padding: 100px 0;
}

.imgType03 h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 45px;
}

.imgType03 .img-wrap {
  display: grid;
  grid-template-columns: repeat(4,285px);
  grid-template-rows: 285px;
  gap: 20px;
}

.imgType03 .img-wrap .img:first-child{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.imgType03 .img-wrap .img{
  position: relative;
}
.imgType03 .img-wrap .img img{}


.imgType03 .img-wrap .img .img-contents {
  position: absolute;
  bottom: 20px; left: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 15px;
}
.imgType03 .img-wrap .img .img-contents .img-tit {
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
}
.imgType03 .img-wrap .img .img-contents .img-desc {
  line-height: 1.4;
  margin-top: 5px;
}